{{extend 'layout.html'}}

<div id="class_of_compounds_list">

{{=DIV(IMG(_src="%s/tip.png" %images_base_url),
   _class="help",
   _id="coc")}}

<div class="advice" id="coc" style="display: none;">
    <li>{{=cc.get_string("PC")}} = {{=cc.get_string("PRODUCT_CARD")}}</li>
    <li>{{=cc.get_string("COC_DELETE_ADVICE")}}</li>
</div>

	{{=paginator}}

        <div id="paginate_info"> 
            {{=paginate_selector}}<br/>
            {{=paginate_info}}
        </div>


{{if rows:}}
<table>
{{for row in rows:}}
	<tr>
	
	<td>{{=row['label']}}</td>
	<td><i>(<b>{{=row['nb_linked_product']()}}</b> {{=cc.get_string("LINKED_PRODUCT_CARD")}})</i></td>
	{{if auth.has_permission('admin') or auth.has_permission('update_coc'):}}
		<td>
                    <span id="action">
                    {{=A(IMG(_src='%s/%s' %(images_base_url, cc.IMAGE_UPDATE_SMALL), 
                             _alt=cc.get_string("UPDATE_COC")), 
                         _title=cc.get_string("UPDATE_COC"), 
                         _href=URL(request.application,
                                       request.controller,
                                       'update',
                                       vars=request.vars,
                                       args=row['id'])
                         )}}
                    </span>
                </td>
	{{pass}}
	{{if auth.has_permission('admin') or auth.has_permission('delete_coc'):}}
		<td>
                    <span id="action">
                        {{=A(IMG(_src='%s/%s' %(images_base_url, cc.IMAGE_DELETE_SMALL), 
                                 _alt=cc.get_string("DELETE_COC")), 
                             _title=cc.get_string("DELETE_COC"), 
                             _onclick="""
                                      jQuery(function() {
                                        displayDeleteButton("%s", 'coc');
                                      });
                                      """ %row['id'])}}
                             
                            {{=A(IMG(_src='%s/%s' %(images_base_url, cc.IMAGE_CONFIRM_SMALL),
		                             _alt=cc.get_string("I_AM_SURE"),
			                     	 _id='coc_action_delete_%s' % row['id'],
			                     	 _style='display: none;'), 
                                 _href=URL(a=application, 
                                           c=controller, 
                                           f='delete', 
                                           args=row['id'], 
                                           vars=request.vars)
                                 )}}
                    </span>
                </td>
	{{pass}}

	</tr>
{{pass}}
</table>
{{else:}}
    {{=cc.get_string("NO_COC")}}
{{pass}}

{{if auth.has_permission('admin') or auth.has_permission('create_coc'):}}

	{{=A(cc.get_string("CREATE_COC"), 
                   _id='create_coc',
			       _href=URL(a=application, 
							 c=controller, 
							 f='create'))}}

{{pass}}

</div>
<script>
$(document).ready(function() {

    $('div[class=help][id=coc]').mouseover(function() {
        $('div.advice#coc').show(); 
    });
    $('div[class=help][id=coc]').mouseout(function() {
        $('div.advice#coc').hide(); 
    });

});
</script>
